<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/public/css/bootstrap.css" th:href="@{/public/css/bootstrap.css}">
  <script src="../static/public/js/jquery-3.6.0.js" th:src="@{/public/js/jquery-3.6.0.js}"></script>
  <script src="../static/public/js/bootstrap.js" th:src="@{/public/js/bootstrap.js}"></script>

  <link rel="stylesheet" href="../static/private/css/pokemon.css" th:href="@{/private/css/pokemon.css}">
  <link rel="stylesheet" href="../static/private/css/pokedex.css" th:href="@{/private/css/pokedex.css}">
  <script src="../static/private/js/pokedex.js" th:src="@{/private/js/pokedex.js}"></script>

  <title>Pokedex</title>
</head>

<body>

  <!-- INICIO NAV -->
  <nav class="nav bg-pokedex-dark border-bottom-dark">
    <a class="navbar-brand" href="/pokedex">
      <img src="../static/public/img/pokedex-logo.png" th:src="@{/public/img/pokedex-logo.png}" 
       width="160" height="auto" class="ms-3 my-1">
    </a>
    <div class="my-auto fw-bold" >by Cabos Manuel</div>
  </nav>
  <!-- FIN NAV -->

  <!-- INICIO CONTAINER -->
  <div class="container-fluid bg-pokedex py-4 px-5">
    <div id="pokemons" class="row row-cols-1 row-cols-md-6 g-4">
    </div>
  </div>
  <!-- FIN CONTAINER -->

</body>

</html>