<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/public/css/bootstrap.css" th:href="@{/public/css/bootstrap.css}">
  <script src="../static/public/js/jquery-3.6.0.js" th:src="@{/public/js/jquery-3.6.0.js}"></script>
  <script src="../static/public/js/bootstrap.js" th:src="@{/public/js/bootstrap.js}"></script>

  <link rel="stylesheet" href="../static/private/css/pokemon.css" th:href="@{/private/css/pokemon.css}">
  <link rel="stylesheet" href="../static/private/css/pokedex.css" th:href="@{/private/css/pokedex.css}">
  <script src="../static/private/js/pokedex.js" th:src="@{/private/js/pokemon.js}"></script>

  <title>Pokemon</title>
</head>

<body class="bg-pokedex">

  <!-- INICIO NAV -->
  <nav class="nav bg-pokedex-dark border-bottom-dark">
    <a class="navbar-brand" href="/pokedex">
      <img src="../static/public/img/pokedex-logo.png" th:src="@{/public/img/pokedex-logo.png}" 
       width="160" height="auto" class="ms-3 my-1">
    </a>
    <div class="my-auto fw-bold" >by Cabos Manuel</div>
  </nav>
  <!-- FIN NAV -->

  <!-- INICIO CONTAINER -->
  <div class="container-fluid bg-pokedex py-4 px-5">
    <div id="id" class="row" th:text="${id}" hidden></div> <!-- ID oculto -->

    <div class="row bg-white rounded border">
      
      <div class="row">
        <h1 id="name" class="m-3"></h1>
      </div>
      
      <div class="row mb-3">
        <div class="col-7 ms-5">
          <div id="types" class="row"></div>

          <div class="row m-3">
            <div id="stats" class="col"></div>
          </div>

          <div id="evolution" class="row"></div>
          <div id="photos" class="row"></div>
        </div>
        
        <div class="col">
          <img id="pkm_img" width="200" height="200">
        </div>

      </div>
      
    </div>
  </div>
  <!-- FIN CONTAINER -->

</body>

</html>