/* COLORES TIPOS DE POKEMONS */
.badge-normal {
  background-color: #a8a77a;
}
.badge-fire {
  background-color: #ee8130;
}
.badge-water {
  background-color: #6390f0;
}
.badge-electric {
  background-color: #f7d02c;
}
.badge-grass {
  background-color: #7ac74c;
}
.badge-ice {
  background-color: #96d9d6;
}
.badge-fighting {
  background-color: #c22e28;
}
.badge-poison {
  background-color: #a33ea1;
}
.badge-ground {
  background-color: #e2bf65;
}
.badge-fliying {
  background-color: #a98ff3;
}
.badge-psychic {
  background-color: #f95587;
}
.badge-bug {
  background-color: #a6b91a;
}
.badge-rock {
  background-color: #b6a136;
}
.badge-ghost {
  background-color: #735797;
}
.badge-dragon {
  background-color: #6f35fc;
}
.badge-dark {
  background-color: #705746;
}
.badge-steel {
  background-color: #b7b7ce;
}
.badge-fairy {
  background-color: #d685ad;
}
